.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.App-logo-stop{
  /* replacing transform: rotate(...) by transform: scale(...). */
  rotate: 40deg;
  height: 40vmin;
}

.btn {
  outline: none;
  background-color: #282c34;
  color: #61dafb;
  font-size: 2rem;
  margin: 0;
  padding: 1.5rem 4.5rem;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  transition: white 250ms, box-shadow 250ms;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
